  .header {
    background: #023047;
    color: #ffb703;
    display: flex;
    flex-direction: row;
    justify-content: space-between; /* Align logo and menu on opposite sides */
    align-items: center; /* Vertically center items */
    padding: 20px;
    height: 80px;
    max-height: 80px;

    .logo {
        font-size: 24px; /* Adjust size if needed */
        font-weight: bold;
    }

    .menuWrapper {
        display: flex;
        gap: 20px; /* Space between menu items */
    }

    .menu {
        cursor: pointer;
        font-size: 18px;
        transition: opacity 0.3s ease-in-out;

        &:hover {
            opacity: 0.3;
        }
    }

    .Home {
        color: white;
        font-weight: bold;
    }
}
