/* SCSS file (e.g., header.module.scss) */
.header {
    background: #023047;
    color: #ffb703;
    display: flex;
    flex-direction: row;
    gap: 2vw;
    justify-content: center;
    padding: 20px;
    height: 80px;
    max-height: 80px;
    .menu{
      :hover{
        opacity: 0.3;
      }
    }
    .Home{
      color:white
    }
  }