.cardWrapper {
  background-color: #1e1e2e; /* Dark background */
  border-radius: 12px;
  padding: 20px;
  width: 640px;
  height: 20rem;
  color: #ffffff;
  font-family: "Inter", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  .title {
    margin-top: 10%;
    margin-bottom: 50px;
  }
  p {
    margin: 0;
    font-size: 16px;
    text-align: centers;
  }
  div:first-child p {
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  .cardWrapper div:nth-child(2) p {
    color: #b0b0d0; /* Slightly bluish white */
    font-size: 14px;
    line-height: 1.6;
    .cardWrapper div:nth-child(3) p {
      font-size: 14px;
      font-weight: bold;
      margin-top: 10px;
    }
  }
  .toolsWrapper {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    margin-top: 10px;
    .tool {
      background-color: #1a1a1a; // Dark background like in the image
      color: #ffffff; // White text
      font-size: 0.875rem; // Adjust font size for better readability
      font-weight: 500;
      padding: 6px 12px; // Add padding for pill shape
      border-radius: 16px; // Rounded corners to make it pill-shaped
      display: inline-block;
      margin: 5px; // Add spacing between tags
      text-transform: uppercase; // Convert text to uppercase
      letter-spacing: 0.5px; // Improve readabili
    }
  }
}
