.HomeLanding{
    color:white;
    display: flex;
    align-items: center;
    h3{
        font-size: 2.30rem;
        vertical-align: middle;

    }
    h3 p {
        text-align: center;
    }
    .information{
        padding-left:10%;
        p{margin-bottom: 1rem;}
    }

}